body {
    box-sizing: border-box;
    margin: 0px;
    background-color: white;
    font-family: DM Sans, sans-serif;
    
}

header {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    margin-left: 100px;
} 

#contact_modal {
    display: none;
}

#header-profile {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #D3573C;
    color: black;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}


.header-left,
.header-center,
.header-right {
    flex: 1; /* Each section takes equal space */
    text-align: center; /* Center-align the content */
}

.header-left {
    text-align: left; /* Align text to the left for the left section */
}

.header-center {
    display: flex; /* Flexbox to center the button */
    justify-content: center; /* Center-align the button horizontally */
}

.header-right {
    margin-right: 20px;
    text-align: right; /* Align text to the right for the right section */
}

.photographer-header-portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; /* Make it circular */
}





.header-left h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 10px;
}

.profile-location {
    color: #901C1C;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-left p {
    font-size: 18px;
    font-family: DM Sans;
}


/* FILTER */

.filter {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    
}

.filter_label {
    margin-right: 8px;     
}

.custom-dropdown {
    position: relative; /* The dropdown is positioned relative to this parent */
    background-color: #901C1C;
    color: white;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 3px;
    width: 165px;
    height: 32px;

}

.caretBtn {
    color: white;
    background-color: #901C1C;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px; /* Add some padding for a larger clickable area */
    font-size: 16px;
    position:absolute;
    right: 0px;
    top: 1px;
    z-index: 15;
    height: 38px;
    width: 35px;
    padding-top: 12px;
    padding-right: 10px;
}

.sorting-chevron {
    margin-left: 4px; /* Space between label and caret icon */
}

.sorting-chevron i.asc {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.custom-dropdown-content {
    position: absolute; 
    left:0;
    top: 0;
    background-color: #901C1C;
    min-width: 155px;
    border: 1px solid #ccc;
    z-index: 10; 
    display: none; /* Hidden by default */
    list-style: none;
    padding: 0;
    margin: 0;
    
}


.custom-dropdown-content[aria-hidden="false"] {
    display: block; 
    background-color: #901C1C;
    padding: 8px 12px; 
    cursor: pointer;
    
}

.custom-dropdown-content li {
    background-color: #901C1C;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}
.custom-dropdown-content li:not(:last-child) {
    border-bottom: 1px solid white; 
}

/* Chevron animation */
.sorting-chevron i {
    transition: transform 0.3s ease; 
}

.sorting-chevron.asc {
    transform: rotate(180deg);
}




/* GALLERY */

#gallery {
    
    margin: 100px;
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.gallery-item {
    width: 350px;
    height: 20%;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}

/* Adjust the margin based on the figure width to maintain space-between effect */
.gallery-item:nth-child(3n + 1) {
    margin-right: 20px;
}

.gallery-item img, .gallery-item video {
    height: 300px;
    width: 350px;
    object-fit: cover;
}



.mediaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    padding-right: 10px;
    font-weight: bold;
    font-size: 18px;
}




/* FORM */

.wrapper{
    z-index: 20;
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 25%;
    width: 700px;
    height: 900px;
    background-color: rgba(0,0,0,0.8); 
}



.modal_form {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
    width: 100%;
    height: 100%;
    
    
    
}

.modal_form_title{
    width: 100%;
    font-size: 24px;
}

.modal_form_title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
}

.modal_form_name {
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.btn_close {
    border: none;
    background-color: #DB8876;
}

.btn_close:hover {
    cursor: pointer;
}


.btn_close::before{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    padding: 10px;
    font-weight: 600;
    color: white;
    font-size: 48px;
}

.modal_form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_content label {
    color: black;
    font-size: 32px;
}

.form_content input {
    height: 50px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

.form_content textarea {
    border-radius: 5px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.form_content span{
    color: black;
    font-size: 24px;
}

.btn_submit{
    width: 170px;
    height: 69px;
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: none;
}

.btn_submit:hover {
    cursor: pointer;
}









/* LIGHTBOX */

/* LIGHTBOX */
#lightbox {
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: center;    
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    background-color: white;
    z-index: 1000;
    padding: 20px;
    color: white;
}

.lightbox_wrapper {
    width: 100%;
    height: 1000px;
    position: relative; 
}

.lightbox_body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative; 
}

.lightbox img {
    max-width: 100%;
    max-height: 80vh; /* Limit image height to 80% of viewport */
    object-fit: contain;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.lightbox .title {
    margin-top: 10px;
    font-size: 32px;
    text-align: left;
    color: #901C1C;
}

/* General button styling (Next, Previous, and Close) */
.lightbox_body .btn_close_lightbox,
.lightbox_body .btn_previous,
.lightbox_body .btn_next {
    background-color: white;
    border: none;
    color: #901C1C;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 1005;
}

/* Close button */
.btn_close_lightbox {
    top: 20px;
    right: 20px; /* Position close button in the top-right corner */
}

.btn_close_lightbox::before {
    font-size: 48px;
    color: #901C1C;
}

/* Previous and next buttons */
.btn_previous,
.btn_next {
    top: 50%; 
    transform: translateY(-50%);
    border-radius: 5px;
}


.btn_next {
    right: 20px;
}


.btn_previous {
    left: 20px;
}

/* Icon styling for the next and previous buttons */
.btn_next i,
.btn_previous i {
    font-size: 48px;
    color: #901C1C;
}

/* Media container inside the lightbox */
.lightbox_media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
}

.lightbox_media img,
.lightbox_media video {
    width: 100%;
    max-height: calc(100% - 50px);
    object-fit: contain;
}







/* LIKE_CONTAINER */

#global-counter {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 3%;
    bottom: 0px;
    height: 70px;
    width: 360px;
    background: #DB8876;
    z-index: 2;
    padding-left: 20px;
    align-items: center;

}

#total-likes-number {
    font-size: 24px;
    width: 150px;
    margin-right: 10px;
}



#photographer-price {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}