body {
    box-sizing: border-box;
    margin: 0px;
    background-color: white;
    font-family: DM Sans, sans-serif;
    
}

header {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    margin-left: 100px;
} 

#contact_modal {
    display: none;
}

#header-profile {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #D3573C;
    color: black;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}


.header-left,
.header-center,
.header-right {
    flex: 1; /* Each section takes equal space */
    text-align: center; /* Center-align the content */
}

.header-left {
    text-align: left; /* Align text to the left for the left section */
}

.header-center {
    display: flex; /* Flexbox to center the button */
    justify-content: center; /* Center-align the button horizontally */
}

.header-right {
    margin-right: 20px;
    text-align: right; /* Align text to the right for the right section */
}

.photographer-header-portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; /* Make it circular */
}





.header-left h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 10px;
}

.profile-location {
    color: #901C1C;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-left p {
    font-size: 18px;
    font-family: DM Sans;
}


/* FILTER */

.filter {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    
}

.filter_label {
    margin-right: 8px;     
}

.custom-dropdown {
    position: relative; /* The dropdown is positioned relative to this parent */
    background-color: #901C1C;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 170px;
    height: 30px;

}

.caretBtn {
    color: white;
    background-color: #D3573C;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px; /* Add some padding for a larger clickable area */
    font-size: 16px;
    position:absolute;
    right: 0px;
    top: 0px;
    z-index: 15;
    height: 38px;
    width: 35px;
    padding-top: 12px;
    padding-right: 10px;
}

.sorting-chevron {
    margin-left: 4px; /* Space between label and caret icon */
}

.custom-dropdown-content {
    position: absolute; /* Position it absolutely within the .custom-dropdown container */
    left:0;
    top: 0;
    background-color: #901C1C;
    min-width: 155px;
    border: 1px solid #ccc;
    z-index: 10; /* Ensure it is above other elements */
    display: none; /* Hidden by default */
    list-style: none;
    padding: 0;
    margin: 0;
    
}


.custom-dropdown-content[aria-hidden="false"] {
    display: block; /* Show when aria-hidden is false */
    background-color: #901C1C;
    padding: 8px 12px; /* Spacing for list items */
    cursor: pointer;
    
}

.custom-dropdown-content li {
    background-color: #901C1C;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}
.custom-dropdown-content li:not(:last-child) {
    border-bottom: 1px solid #ccc; /* Add a bottom border to all but the last item */
}

/* Chevron animation */
.sorting-chevron i {
    transition: transform 0.3s ease; 
}

.sorting-chevron.asc {
    transform: rotate(180deg);
}




/* GALLERY */

#gallery {
    
    margin: 100px;
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.gallery-item {
    width: 350px;
    height: 20%;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}

/* Adjust the margin based on the figure width to maintain space-between effect */
.gallery-item:nth-child(3n + 1) {
    margin-right: 20px;
}

.gallery-item img, .gallery-item video {
    height: 300px;
    width: 350px;
    object-fit: cover;
}



.mediaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    padding-right: 10px;
    font-weight: bold;
    font-size: 18px;
}




/* FORM */

.wrapper{
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5); 
}

.modal_form {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    opacity: 0.5;
    transform: translateY(-150px);
    animation: fadeIn .3s ease-in-out forwards;
}

.modal_form_title{
    width: 100%;
    font-size: 24px;
}

.modal_form_title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 24px;
}

.btn_close:hover::before{
    color: var(--color-primary);
}
.btn_close:focus:not(:hover)::before{
    outline: 2px solid var(--color-primary);
}

.btn_close::before{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    color: var(--color-light);
    font-size: clamp(2rem, 3vw, 3rem);
}

.modal_form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_content label {
    color: var(--color-label);
    font-size: clamp(1.8rem, 2vw, 2rem);
}

.form_content input {
    height: 50px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

.form_content textarea {
    border-radius: 5px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.form_content span{
    color: var(--color-dark);
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
}

.form_content input:invalid:focus,
.form_content textarea:invalid:focus {
    outline: 2px solid var(--color-primary);
} 

.btn_submit{
    max-width: 150px;
}

.btn_submit:hover,
.btn_submit:focus {
    outline: 2px solid var(--color-light);
}


/* #contact_modal{
    z-index:20;
    width: 600px;
    height: 900px;
    background-color: #DB8876;
}

.modal {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
} */

/* Modal background */

  







/* LIGHTBOX */

.lightbox {
    

    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    
    
    z-index: 4;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
}

.lightbox.show {
    z-index:4;
}

.lightbox_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.lightbox-close, .arrowLeft, .arrowRight {
    color: #901C1C;
    font-size: 60px;
    font-weight: bold;
    
}

.lightbox_content {
    width: 80%;
    height: 100%;
    overflow: hidden; /* Ensure the content doesn't overflow */
}

.lightbox_content figure {
    width: 100%;
    height: 100%;
}

.lightbox_content img, .lightbox_content video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Adjust the object-fit property as needed */
}



.lightbox_left, .lightbox_right {
    width: 10%;
    display: flex;
    background-color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.lightbox_right {
    position: relative;
    
    
}

.lightbox-close {
    position: absolute;
    top: 30px;
    right: 33%;
}





/* LIKE_CONTAINER */

#global-counter {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 3%;
    bottom: 0px;
    height: 70px;
    width: 360px;
    background: #DB8876;
    z-index: 2;
    padding-left: 20px;
    align-items: center;

}

#total-likes-number {
    font-size: 24px;
    width: 150px;
    margin-right: 10px;
}



#photographer-price {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
}